* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }

body {
  background-color: #0A192F;
  font-size: 12px;
}

#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-nav li
{
  margin: 10px;
padding: 0 2px;
list-style: none;

}
.navbar-nav li a
{
float: right;
text-align: left;

font-weight: bold;
}
#nav-bar ul li a:hover
{
color: #0A192F!important;
font-weight: bold;
}
.navbar
{
background: white!important;
text-decoration-style: none;
display: flex;
}
.navbar-toggler
{
border: none!important;
}
.navbar-toggler-icon
{
  color: white;
}
.nav-link
{
color: #555!important;
font-weight: 600;
font-size: 14px;
}
.nav-link-resume
{
  color: #222762!important;
font-weight: 600;
font-size: 14px;
  border: 2px solid #222762 !important;
    transition: .5s;
    padding: 6px 10px 6px 10px;
}

.icon-bar {
  
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #64FFDA;
}

.dashboard {
  background: #172a45;
  color: white;
}

.book {
  background: #172a45;
  color: white;
}

.mentorship {
  background:#172a45;
  color: white;
}

.quiz {
  background: #172a45;
  color: white;
}

.homework {
  background: #172a45;
  color: white;
}
.user {
  background: #172a45;
  color: white;
}

.v1 {
  border-left: 1.5px solid #64FFDA;
  height: 120px;
  margin-left: 25px;
  margin-top: 10px;
}

#discussionforum h3{
  text-align: center;
  color: white;
    padding-top:20px;
    padding-bottom: 5px;
}

#discussionforum a {
  text-align: center;
    display: block;
  color: #8892B0;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  font-weight: bold;
}
.textform{
    color:white;
    font-size:20px;
    }
.formstyle{
    padding-left:30%;
    margin-top:5%;
}
#discussionforum button{
    margin:10px;
    margin-bottom: 20px;
    
}
#noticeboard
{
background-image: url(news.jpg);

background-size: cover;
background-attachment: fixed;
padding: 60px;
font-family: sans-serif;
font-size: 15px;
}
#noticeboard h3{
    display:block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#noticeboard h5{
    text-align:center;
    display:block;
    
}
#noticeboard .aligncard{
  
    display: block;
    margin-left:50px;
    
}