* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
  }

body {
  background-color: #0A192F;
  font-size: 12px;
}

#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-nav li
{
  margin: 10px;
padding: 0 2px;
list-style: none;

}
.navbar-nav li a
{
float: right;
text-align: left;

font-weight: bold;
}
#nav-bar ul li a:hover
{
color: #0A192F!important;
font-weight: bold;
}
.navbar
{
background: white!important;
text-decoration-style: none;
display: flex;
}
.navbar-toggler
{
border: none!important;
}
.navbar-toggler-icon
{
  color: white;
}
.nav-link
{
color: #555!important;
font-weight: 600;
font-size: 14px;
}
.nav-link-resume
{
  color: #222762!important;
font-weight: 600;
font-size: 14px;
  border: 2px solid #222762 !important;
    transition: .5s;
    padding: 6px 10px 6px 10px;
}
#bg
{
background-image: url(news.jpg);
height: 300px;
background-size: cover;
background-attachment: fixed;
padding: 70px;
font-family: sans-serif;
font-size: 38px;
}
#bg h1{
  font-size: 3.3rem;
  text-align: center;
}
#bg h5{
  color: #8892B0;
  letter-spacing: 1.2px;
  text-align: center;
}
h3.stdalign{
    display:block;
    margin:auto;
    padding-bottom:20px;
    padding-top: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size:35px;
}
.stylestudentlogin{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(t1.jpg);
    color:black;
    
    padding: 30px;
   
}
div.formalignment{
    margin-left:35%;
    color: white;
}
.styleteacherlogin{
  
    background-color: #0A192F;
    color:#ffffff;
   
}
.coolstuffwrapper{
    padding-bottom: 30px;
}
.btncenter{
    display: block;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 30px;
    width:40%;
}
.styleresults{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(wood.jpg);
    background-color: #0A192F;
    color:black;
}
h1.resultsheader{
  color: white;
    text-align:center;
    padding-top: 50px;
    padding-bottom: 20px;
}
h3.examheader{
  color: white;
    text-align:center;
    padding:20px;
}
.fontawesome{
  color: white;
}
.icenter{
   margin-left:44%;
}
#bg h1{
    font-size: 50px;
    font-weight:bold;
}
a.button{
  -webkit-appearance: button;
  -moz-appearance:button;
  appearance:button;
  background-color: #28A745;
  color: white;  
font-weight: 600;
font-size: 14px;
  border: 2px solid #28A745 !important;
    transition: .5s;
    padding: 6px 10px 6px 10px;
}
