* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}

body {
	background-color: #0A192F;
	font-size: 12px;
}

#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar-nav li
{
	margin: 10px;
padding: 0 2px;
list-style: none;

}
.navbar-nav li a
{
float: right;
text-align: left;

font-weight: bold;
}
#nav-bar ul li a:hover
{
color: #0A192F!important;
font-weight: bold;
}
.navbar
{
background: white!important;
text-decoration-style: none;
display: flex;
}
.navbar-toggler
{
border: none!important;
}
.navbar-toggler-icon
{
	color: white;
}
.nav-link
{
color: #555!important;
font-weight: 600;
font-size: 14px;
}
.nav-link-resume
{
	color: #222762!important;
font-weight: 600;
font-size: 14px;
	border: 2px solid #222762 !important;
    transition: .5s;
    padding: 6px 10px 6px 10px;
}

.icon-bar {
  
  position: fixed;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #64FFDA;
}

.dashboard {
  background: #172a45;
  color: white;
}

.book {
  background: #172a45;
  color: white;
}

.mentorship {
  background:#172a45;
  color: white;
}

.quiz {
  background: #172a45;
  color: white;
}

.homework {
  background: #172a45;
  color: white;
}
.user {
  background: #172a45;
  color: white;
}
.v1 {
  border-left: 1.5px solid #64FFDA;
  height: 120px;
  margin-left: 25px;
  margin-top: 10px;
}

#subjects
{
  margin-top: 60px;
    margin-left: 150px;
    margin-right: 150px;
  
  margin-bottom: 130px;
}
#subjects .row{
  padding-top: 30px;
  padding-bottom: 30px;
}

#subjects h3
{
  text-align: center;
  color: white;
}
#subjects .stylelink a{
  text-align: center;
  display: block;
  color: #8892B0;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  font-weight: bold;
}
#subjects .container 
{
  margin-top: 40px;   
    box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    height: 100%;
    background-color: rgb(23, 42, 69);
    padding: 2rem 1.75rem;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    

}
#subjects .container .icon  
{
  color: #64FFDA;
  font-size: 40px;
}
#subjects .container .icons  
{
  color: #64FFDA;
  font-size: 30px;
  
  display: inline-block;
}


#subjects a
{
  font-size: 1.4rem;
  color: white;
}
#subjects p
{
  font-size: 0.9rem;
  color: #8892B0;

}
#subjects h5
{
  color: #64FFDA;
  letter-spacing: 1.2px;
  font-size: 0.8rem;
  font-weight: bold;
}
#subjects
{
margin-left: 150px;
margin-right: 150px;
color: #64FFDA;
}
#subjects .col-lg-6
{
  font-size: 1.4em; 
  color: #8892B0;
  padding-top: 20px;
  padding-bottom: 40px;
  float: left;  
}
#subjects .img-box
{
opacity: 1;
display: block;
position: relative;
}
#subjects .img-box img .overlay
{
  z-index: 3;
    background-color: #64FFDA;
   opacity: 0.20;
   -moz-opacity: 20%;
   -webkit-opacity: 20%;

}
#subjects .img-box img:hover
{

cursor: pointer;
}
#subjects h1{

  
}
#news
{
background-image: url(news.jpg);

background-size: cover;
background-attachment: fixed;
padding: 100px;
font-family: sans-serif;
font-size: 38px;
}
